<main class="contenido">
    <div class="contenedor-cont">
        <!-- Columna izquierda -->
        <div class="columna izquierda">
            <div class="imagen-perfil">
                <app-carrusel [images]="profileImages" [interval]="8000">
                </app-carrusel>
            </div>
            <!-- Botones CV -->
            <div class="boton-cv">
                <a href="assets/docs/CV-ESPAÑOL.pdf" class="btn-descargar" download="CV-JuanIramGamez-ES.pdf">
                    📄 Descargar mi CV en español
                </a>
            </div>

            <div class="boton-cv">
                <a href="pdf/CV INGLES.pdf" class="btn-descargar" download="CV-JuanIramGamez-EN.pdf">📄 Descargar mi
                    CV en inglés</a>
            </div>
        </div>

        <!-- Columna derecha -->
        <div class="columna-derecha">
            <div class="informacion-principal">
                <h1 class="nombre">¡Hola!, soy Juan Iram</h1>
                <h2 class="titulo-profesional">Estudiante de Ingeniería en Tecnologías de la Información y
                    Comunicaciones</h2>

                <section class="seccion">
                    <h3 class="titulo-seccion">¿Quién soy?</h3>
                    <p class="descripcion">
                        Estudiante de Ingeniería en Tecnologías de la Información y Comunicaciones con una fuerte
                        pasión por la tecnología y la seguridad informática. Mi objetivo es especializarme en
                        ciberseguridad y mantenerme constantemente actualizado en las tecnologías clave del sector.
                    </p>
                </section>

                <section class="seccion">
                    <h3 class="titulo-seccion">¿Cómo me defino?</h3>
                    <p class="descripcion">
                        Me defino como una persona enfocada, proactiva y comprometida con el logro de mis metas,
                        aplicando
                        tanto mis habilidades técnicas como sociales.
                    </p>
                </section>

                <section class="seccion">
                    <h3 class="titulo-seccion">¿Cuáles son mis objetivos?</h3>
                    <div class="objetivos-container">
                        <div class="objetivos-columna">
                            <h4 class="tipo-objetivo">A largo plazo</h4>
                            <ul class="lista-objetivos">
                                <li>Mejorar mi formación en tecnologías de la información y comunicaciones</li>
                                <li>Estudiar y aplicar habilidades de gestión de proyectos</li>
                                <li>Mejorar mi habilidad para trabajar en equipo y colaborar con otros profesionales
                                </li>
                            </ul>
                        </div>
                        <div class="objetivos-columna">
                            <h4 class="tipo-objetivo">A corto plazo</h4>
                            <ul class="lista-objetivos">
                                <li>Aplicar habilidades técnicas en el área de seguridad informática</li>
                                <li>Fortalecer mis habilidades de comunicación y colaboración para trabajar en
                                    equipo
                                </li>
                                <li>Reforzar mis habilidades de resolución de problemas y resolución de conflictos
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>