    <footer class="pie-pagina">
        <div class="contenedor-pie">
            <p class="derechos">© 2025 Juan Iram Gámez Aguilar. Todos los derechos reservados.</p>
            <ul class="lista-redes">
                <li><a href="https://www.linkedin.com/in/juan-iram-gámez-a30410340"
                        target="https://www.linkedin.com/in/juan-iram-gámez-a30410340">LinkedIn</a></li>
                <li><a href="https://www.facebook.com/juaniram.gamez/" target="https://www.facebook.com/juaniram.gamez/">Facebook</a></li>
                <li><p>449 359 2812</p></li>
            </ul>
        </div>
    </footer>