<main class="contenedor">
        <h1 class="estudio-titulo">Historial de Estudios</h1>
        <div class="estudio">
            <div class="estudio__imagen">
                <img class="imagen-curso"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpeMKQd9FOHZ2cW2HGv4TQe2iaCOoDb4G9JQ&s"
                    alt="Escuela de Bachilleres Matías Marín Vargas" loading="lazy">
            </div>
            <div class="estudio__informacion">
                <h3 class="titulo-estudio">Preparatoria</h3>
                <p class="estudio__label">Escuela General de Bachilleres Matías Marín Vargas
                </p>
                <p class="estudio__label">Periodo:
                    <span class="estudio__info">Finalizado en 2019</span>
                </p>
                <p class="estudio__label">Certificado:
                    <span class="estudio__info">Comprobable</span>
                </p>
            </div> <!--.estudio-informacion-->
        </div> <!--.estudio -->

        <div class="estudio">
            <div class="estudio__imagen">
                <img class="imagen-curso"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqm5KbBSI8xXoSgaMO54meC-h87FM4H78abw&s"
                    alt="Instituto Tecnologico de Aguascalientes" loading="lazy">
            </div>
            <div class="estudio__informacion">
                <h3 class="titulo-estudio">Universidad</h3>
                <p class="estudio__label">TECNM Campus Instituto Tecnologico de Aguascalientes
                </p>
                <p class="estudio__label">Periodo:
                    <span class="estudio__info">Actual</span>
                </p>
                <p class="estudio__label">Semestre:
                    <span class="estudio__info">Noveno</span>
                </p>
                <p class="estudio__label">Carrera:
                    <span class="estudio__info">Ingeniería en Tecnologías de la Información y Comunicaciones</span>
                </p>
            </div> <!--.estudio-informacion-->
        </div> <!--.estudio -->

        <h2 class="certificado-titulo">Certificados</h2>
        <div class="certificado">
            <div class="Certificados">
                <img class="imagen-curso" src="assets/images/certificado1.png" alt="CCNA: Introduction to Networks"
                    loading="lazy">
            </div>
            <div class="certificado__informacion">
                <h3 class="titulo-certificado">CCNA: Introduction to Networks</h3>
                <p class="certificado__label">Periodo:
                    <span class="certificado__info">27 de febrero de 2023</span>
                </p>
                <p class="certificado__label">Estatus:
                    <span class="certificado__info">Terminado</span>
                </p>
                <p class="certificado__label">Link:
                    <a href="https://www.credly.com/badges/b657944c-2461-4cd5-af79-492cfd45e4ff/public_url"
                        class="certificado__link">https://www.credly.com/badges/b657944c-2461-4cd5-af79-492cfd45e4ff/public_url</a>
                </p>
                <p class="certificado__label">Descargar Certificado:
                <div class="boton-certificado">
                    <a href="assets/pdf/introduction to networks.pdf" class="btn-descargar"
                        download="introduction to networks.pdf">📄 Descargar
                    </a>
                </div>
            </div> <!--certificado-informacion-->
        </div> <!--.certificado -->

        <div class="certificado">
            <div class="Certificados">
                <img class="imagen-curso" src="assets/images/certificado2.png"
                    alt="CCNA: Switching, Routing, and Wireless Essentials" loading="lazy">
            </div>
            <div class="certificado__informacion">
                <h3 class="titulo-certificado">CCNA: Switching, Routing, and Wireless Essentials</h3>
                <p class="certificado__label">Periodo:
                    <span class="certificado__info">28 de noviembre de 2023</span>
                </p>
                <p class="certificado__label">Estatus:
                    <span class="certificado__info">Terminado</span>
                <p class="certificado__label">Link:
                    <a href="https://www.credly.com/badges/35d4feb9-6f64-4e23-84b6-cb2475fde77d/public_url"
                        class="certificado__link">https://www.credly.com/badges/35d4feb9-6f64-4e23-84b6-cb2475fde77d/public_url</a>
                </p>
                <p class="certificado__label">Descargar Certificado:
                <div class="boton-certificado">
                    <a href="assets/pdf/switching, routing and wireless essencials.pdf" class="btn-descargar"
                        download="switching, routing and wireless essencials.pdf">📄 Descargar
                    </a>
                </div>

            </div> <!--certificado-informacion-->
        </div> <!--.certificado -->

        <div class="certificado">
            <div class="Certificados">
                <img class="imagen-curso"
                    src="https://api.uady.mx/imagen/ckeditor/element_bb6aa4fda5f893f4bf1ac5176ab83dfd.png_20241010141243"
                    alt="TOEFL ITP" loading="lazy">
            </div>
            <div class="certificado__informacion">
                <h3 class="titulo-certificado">TOEFL ITP</h3>
                <p class="certificado__label">Periodo:
                    <span class="certificado__info">11 de diciembre de 2023</span>
                </p>
                <p class="certificado__label">Estatus:
                    <span class="certificado__info">Aprovado</span>
                </p>
                <p class="certificado__label">Descargar Certificado:
                <div class="boton-certificado">
                    <a href="assets/pdf/TOEFL ITP.pdf" class="btn-descargar" download="TOEFL ITP.pdf">📄 Descargar
                    </a>
                </div>

            </div> <!--certificado-informacion-->
        </div> <!--.certificado -->

        <div class="certificado">
            <div class="Certificados">
                <img class="imagen-curso" src="assets/images/certificado3.png"
                    alt="AWS Academy Graduate - AWS Academy Introdution to Cloud Semester 1" loading="lazy">
            </div>
            <div class="certificado__informacion">
                <h3 class="titulo-certificado">AWS Academy Graduate - AWS Academy Introdution to Cloud Semester 1</h3>
                <p class="certificado__label">Periodo:
                    <span class="certificado__info">05 de noviembre de 2024</span>
                </p>
                <p class="certificado__label">Estatus:
                    <span class="certificado__info">Terminado</span>
                </p>
                <p class="certificado__label">Link:
                    <a href="https://www.credly.com/badges/36cd49d9-9cd8-4d37-a283-e35e5ac702cd/public_url"
                        class="certificado__link">https://www.credly.com/badges/36cd49d9-9cd8-4d37-a283-e35e5ac702cd/public_url</a>
                </p>
                <p class="certificado__label">Descargar Certificado:
                <div class="boton-certificado">
                    <a href="assets/pdf/aws.pdf" class="btn-descargar" download="aws.pdf">📄 Descargar
                    </a>
                </div>

            </div> <!--certificado-informacion-->
        </div> <!--.certificado -->

        <div class="certificado">
            <div class="Certificados">
                <img class="imagen-curso" src="assets/images/certificado4.png" alt="Linux Unhatched" loading="lazy">
            </div>
            <div class="certificado__informacion">
                <h3 class="titulo-certificado">Linux Unhatched</h3>
                <p class="certificado__label">Periodo:
                    <span class="certificado__info">02 de diciembre de 2024</span>
                </p>
                <p class="certificado__label">Estatus:
                    <span class="certificado__info">Terminado</span>
                </p>
                <p class="certificado__label">Link:
                    <a href="https://www.credly.com/badges/efad678c-d1d6-4c26-a9d3-60b19fbde07c/public_url"
                        class="certificado__link">https://www.credly.com/badges/efad678c-d1d6-4c26-a9d3-60b19fbde07c/public_url</a>
                </p>
                <p class="certificado__label">Descargar Certificado:
                <div class="boton-certificado">
                    <a href="assets/pdf/linux.pdf" class="btn-descargar" download="linux.pdf">📄 Descargar
                    </a>
                </div>

            </div> <!--certificado-informacion-->
        </div> <!--.certificado -->

        <div class="certificado">
            <div class="Certificados">
                <img class="imagen-curso" src="assets/images/certificado5.png"
                    alt="CCNA: Enterprise Networking, Security, and Automation" loading="lazy">
            </div>
            <div class="certificado__informacion">
                <h3 class="titulo-certificado">CCNA: Enterprise Networking, Security, and Automation</h3>
                <p class="certificado__label">Periodo:
                    <span class="certificado__info">13 de diciembre de 2024</span>
                </p>
                <p class="certificado__label">Estatus:
                    <span class="certificado__info">Terminado</span>
                </p>
                <p class="certificado__label">Link:
                    <a href="https://www.credly.com/badges/e9d1e6eb-aa1f-423c-bf8c-c636fa477986/public_url"
                        class="certificado__link">https://www.credly.com/badges/e9d1e6eb-aa1f-423c-bf8c-c636fa477986/public_url</a>
                </p>
                <p class="certificado__label">Descargar Certificado:
                <div class="boton-certificado">
                    <a href="assets/pdf/enterprise networking.pdf" class="btn-descargar"
                        download="enterprise networking.pdf">📄 Descargar
                    </a>
                </div>

            </div> <!--certificado-informacion-->
        </div> <!--.certificado -->

        <div class="certificado">
            <div class="Certificados">
                <img class="imagen-curso" src="assets/images/certificado6.png" alt="Networking Security" loading="lazy">
            </div>
            <div class="certificado__informacion">
                <h3 class="titulo-certificado">Networking Security</h3>
                <p class="certificado__label">Periodo:
                    <span class="certificado__info">26 de mayo de 2025</span>
                </p>
                <p class="certificado__label">Estatus:
                    <span class="certificado__info">Terminado</span>
                </p>
                <p class="certificado__label">Link:
                    <a href="https://www.credly.com/badges/95600c88-ead0-48fb-bb67-9b8cdb0d04aa/public_url"
                        class="certificado__link">https://www.credly.com/badges/95600c88-ead0-48fb-bb67-9b8cdb0d04aa/public_url</a>
                </p>
                <p class="certificado__label">Descargar Certificado:
                <div class="boton-certificado">
                    <a href="assets/pdf/network security.pdf" class="btn-descargar" download="network security.pdf">📄
                        Descargar
                    </a>
                </div>
            </div> <!--certificado-informacion-->
        </div> <!--.certificado -->
    </main>